{{- if eq .Type "mermaid" -}}
{{- .Page.Store.Set "hasMermaid" true -}}
{{- if .Attributes.showsource -}}
<div class="code-block" data-lang="mermaid">
  <div class="code-head">
    <span class="code-lang">mermaid</span>
    {{ partial "copy-button.html" . }}
  </div>
  {{ partial "mermaid-highlight.html" (trim .Inner "\n") }}
</div>
{{- end -}}
<div class="mermaid-wrap"><pre class="mermaid">{{ .Inner }}</pre></div>
{{- else -}}
{{- $lang := .Type | default "text" -}}
{{- $filename := .Attributes.filename -}}
{{- $opts := merge .Options (dict "noClasses" false) -}}
{{- $hl := transform.Highlight (trim .Inner "\n") $lang $opts -}}
<div class="code-block" data-lang="{{ $lang }}">
  <div class="code-head">
    {{ with $filename }}<span class="code-filename">{{ . }}</span>{{ end }}
    <span class="code-lang">{{ $lang }}</span>
    {{ partial "copy-button.html" . }}
  </div>
  {{ $hl }}
</div>
{{- end -}}
