<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}" data-search="{{ .Site.Params.search.backend | default "fuse" }}" data-search-index="{{ "index.json" | relURL }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} · {{ .Site.Title }}{{ end }}</title>
  {{ partial "head.html" . }}
</head>
<body>
  {{ partial "topbar.html" . }}
  <main>{{ block "main" . }}{{ end }}</main>
  {{ partial "footer.html" . }}
  {{ partial "js.html" . }}
</body>
</html>
