{{ $fonts := .Site.Params.fonts | default dict }}
{{ $body := index $fonts "body" | default "Inter" }}
{{ $head := index $fonts "heading" | default "Space Grotesk" }}
{{ $mono := index $fonts "mono" | default "Fira Code" }}
{{ $fams := slice $body $head $mono | uniq }}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
{{ $parts := slice }}
{{ range $fams }}{{ $parts = $parts | append (printf "family=%s:wght@400;500;600;700" (urlquery .)) }}{{ end }}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?{{ delimit $parts "&" | safeURL }}&display=swap">
{{ if eq .Section "blog" }}<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lora:wght@500;600;700&family=Merriweather:ital,wght@0,400;0,700;1,400&display=swap">{{ end }}
